head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
}
h3{
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/026/481/512/large_2x/futuristic-cyber-city-with-this-captivating-4k-wallpaper-free-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 95%;
    display: flex;
    max-width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.login {
    width: 400px;
}

form {
    width: 300px;
    margin: 80px auto;
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    border-top: 2px solid skyblue;
}

p {
    text-align: center;
    margin: 15px;
    margin-top: 15px;
}

a{
    font-weight: bolder;
    font-size: 17px;
}

form label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

select{
    width: 107%;
    margin: 3px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    border: none;
    outline: none;
    padding: 8px;
    width: 122px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    background: skyblue;
}

button:hover {
    background: rgba(214, 86, 64, 1);
}